@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Segoe UI', system-ui, sans-serif;
}

.sticky-content p {
  margin: 0;
}

.sticky-content ul {
  list-style: disc;
  padding-left: 1rem;
  margin: 0;
}

.sticky-content li {
  margin: 0;
}

.ProseMirror ul {
  list-style: disc;
  padding-left: 1rem;
  margin: 0;
}

.ProseMirror li {
  margin: 0;
}
